<%- include("partials/header.ejs") %>
<h1 class="text-center fw-bolder mt-4">
    <% if(locals.project){ %>
        Edit Project Info
    <% } else { %>
        Add New Project
    <% } %>
</h1>
<div class="container mt-5 mb-5 border shadow-lg p-5 rounded">
    <% if(locals.project) {%>
        <form action="/admin/project/<%= project._id %>" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="image" class="form-label">Upload an Image of your project:</label>
                <input type="file" class="form-control" accept="image/x-png,image/gif,image/jpeg" name="image">
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title" value="<%= project.title %>">
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Site</label>
                <input type="text" class="form-control" id="site" name="site" value="<%= project.site %>">
            </div>
            <div class="mb-3">
                <label for="github" class="form-label">Github</label>
                <input type="text" class="form-control" id="github" name="github" value="<%= project.github %>">
            </div>
            <div class="mb-3">
                <label for="start" class="form-label">Start date:</label>
               <input type="date" id="start" name="start" class="form-control" value="<%= project.startDate %>"/>
            </div>
            <div class="mb-3">
                <label for="finish" class="form-label">Completion date:</label>
               <input type="date" id="finish" name="end"  class="form-control" value="<%= project.endDate %>"/>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Describe your new project: </label>
                <textarea id="description" name="description" rows="5" cols="33" class="form-control"><%= project.description %></textarea>
            </div>
            <div class="mb-3">
                <label for="completed" class="form-label">Completed?</label><br>
                <% if(project.completed === "complete") {%>
                    <input type="radio" name="completed" id="completed" value="complete" checked> Complete
                    <input type="radio" name="completed" id="completed" value="Not complete">Not Complete
                <% } else{ %>
                    <input type="radio" name="completed" id="completed" value="complete"> Complete
                    <input type="radio" name="completed" id="completed" value="Not complete" checked> Not Complete
                <% } %> 
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    <% } else { %>
        <form action="/admin/project" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="image" class="form-label">Upload an Image of your project:</label>
                <input type="file" class="form-control" accept="image/x-png,image/gif,image/jpeg" name="image" required>
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Site</label>
                <input type="text" class="form-control" id="site" name="site">
            </div>
            <div class="mb-3">
                <label for="github" class="form-label">Github</label>
                <input type="text" class="form-control" id="github" name="github">
            </div>
            <div class="mb-3">
                <label for="start" class="form-label">Start date:</label>
               <input type="date" id="start" name="start" class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="finish" class="form-label">Completion date:</label>
               <input type="date" id="finish" name="end"  class="form-control"/>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Describe your new project: </label>
                <textarea id="description" name="description" rows="5" cols="33" class="form-control" required></textarea>
            </div>
            <div class="mb-3">
                <label for="completed" class="form-label">Completed?</label><br>
                <input type="radio" name="completed" id="completed" value="complete"> Complete
                <input type="radio" name="completed" id="completed" value="Not complete"> Not Complete
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    <% } %>
    <a href="/admin"><button class="btn btn-danger mt-3">Exit</button></a>  
</div>
<%- include("partials/footer.ejs") %>