<%- include("partials/header.ejs") %>
  <section id="project">
      <div class="container shadow-lg">
        <div class="card mb-3">
            <img src="/images/<%= project.imageName %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= project.title %></h5>
              <p class="card-text"><%= project.description %></p>
              <p class="card-text"><small class="text-body-secondary">Status: <%= project.completed %></small></p>
              <p class="card-text"><small class="text-body-secondary">Last Updated: <%= project.timestamp %></small></p>
              <% if(admin){ %>
                <a href="/admin"><button class="btn btn-outline-secondary me-3">Back</button></a>
              <% } else{ %>
                <a href="/"><button class="btn btn-outline-secondary me-3">Back</button></a>
              <% } %>
              
              <a href="<%= project.site %>"><button class="btn btn-primary me-3">Visit Site</button></a>
              <a href="<%= project.github %>"><button class="btn btn-primary me-3">Github Repository</button></a>

              <% if(admin){ %>
                <a href="/admin/project/<%= project._id %>"><button class="btn btn-outline-secondary me-3">Edit</button></a>
                <a href="/admin/project/<%= project._id %>/delete"><button class="btn btn-outline-danger me-3">Delete</button></a>
              <% } %>

            </div>
          </div>
      </div>
  </section>
<%- include("partials/footer.ejs") %>